<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>xulrunner</string>
	<key>CFBundleGetInfoString</key>
	<string>0.0.1</string>
	<key>CFBundleIconFile</key>
	<string>app_icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.phpied.omg</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OMG</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Public Domain</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>app_icon.icns</string>
			<key>CFBundleURLName</key>
			<string>YOURAPP Entity</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chrome</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
</dict>
</plist>
